<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Adyen\Hyva\Api\Data\MagewireComponentInterface" type="Adyen\Hyva\Model\Component\MagewireComponent" />
    <preference for="Adyen\Hyva\Api\Data\StoredCreditCardInterface" type="Adyen\Hyva\Model\Data\StoredCreditCard" />
    <preference for="Adyen\Hyva\Model\PaymentMethod\Filter\FilterInterface" type="Adyen\Hyva\Model\PaymentMethod\Filter" />

    <type name="Adyen\Hyva\Model\CheckoutSession\ResetHandlerPool">
        <arguments>
            <argument name="resetHandlers" xsi:type="array">
                <item name="quote_status" xsi:type="object">Adyen\Hyva\Model\CheckoutSession\ResetHandler\QuoteStatus</item>
            </argument>
        </arguments>
    </type>

    <type name="Adyen\Hyva\Model\MethodList">
        <arguments>
            <argument name="customMethodRenderers" xsi:type="array">
                <item name="adyen_applepay" xsi:type="string">adyen-applepay-method.phtml</item>
                <item name="adyen_googlepay" xsi:type="string">adyen-googlepay-method.phtml</item>
                <item name="adyen_paypal" xsi:type="string">adyen-paypal-method.phtml</item>
                <item name="adyen_cashapp" xsi:type="string">adyen-cashapp-method.phtml</item>
                <item name="adyen_affirm" xsi:type="string">adyen-affirm-method.phtml</item>
            </argument>
            <argument name="staticallyDefinedMethods" xsi:type="array">
                <item name="adyen_cc" xsi:type="string">adyen_cc</item>
                <item name="adyen_cc_vault" xsi:type="string">adyen_cc_vault</item>
            </argument>
        </arguments>
    </type>

    <type name="Adyen\Hyva\Model\PaymentMethod\Filter\Composite">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="adyen_based" xsi:type="object">Adyen\Hyva\Model\PaymentMethod\Filter\AdyenBased</item>
                <item name="adyen_configured" xsi:type="object">Adyen\Hyva\Model\PaymentMethod\Filter\AdyenConfigured</item>
                <item name="apple_pay" xsi:type="object">Adyen\Hyva\Model\PaymentMethod\Filter\ApplePay</item>
                <item name="stored_cards" xsi:type="object">Adyen\Hyva\Model\PaymentMethod\Filter\StoredCards</item>
            </argument>
        </arguments>
    </type>
</config>
