<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Adyen\Hyva\Api\Data\MagewireComponentInterface" type="Adyen\Hyva\Model\Component\MagewireComponent" />
    <preference for="Adyen\Hyva\Api\Data\StoredCreditCardInterface" type="Adyen\Hyva\Model\Data\StoredCreditCard" />

    <type name="Adyen\Hyva\Model\MethodList">
        <arguments>
            <argument name="availableMethods" xsi:type="array">
                <item name="adyen_cc" xsi:type="string">adyen_cc</item>
                <item name="adyen_googlepay" xsi:type="string">adyen_googlepay</item>
                <item name="adyen_applepay" xsi:type="string">adyen_applepay</item>
                <item name="adyen_paypal" xsi:type="string">adyen_paypal</item>
                <item name="adyen_cc_vault" xsi:type="string">adyen_cc_vault</item>
            </argument>
        </arguments>
    </type>

    <type name="Adyen\Hyva\Model\CheckoutSession\ResetHandlerPool">
        <arguments>
            <argument name="resetHandlers" xsi:type="array">
                <item name="quote_status" xsi:type="object">Adyen\Hyva\Model\CheckoutSession\ResetHandler\QuoteStatus</item>
            </argument>
        </arguments>
    </type>
</config>
