<?xml version="1.0" encoding="utf-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Adyen_Hyva">
        <sequence>
            <module name="Adyen_Payment" />
            <module name="Hyva_Checkout" />
        </sequence>
    </module>
</config>
