<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- Adyen Checkout Related -->
    <event name="payment_method_assign_data_vault">
        <observer name="adyen_hyva_vault_data_assigner" instance="Adyen\Hyva\Observer\PaymentTokenAssigner" />
    </event>

    <!-- Hyva Checkout Related -->
    <event name="checkout_submit_all_after">
        <observer name="CheckoutReset_HyvaCheckoutCheckoutSubmitAllAfter" disabled="true" />
        <observer name="Adyen_Hyva_CheckoutSubmitAllAfter" instance="Adyen\Hyva\Observer\HyvaCheckoutSessionReset"/>
    </event>
</config>
